<!-- <app-chart [titulo]="titulo"></app-chart> -->
<mat-card>
<mat-card-header>
    <mat-card-title>{{titulo}}</mat-card-title>
    <mat-card-subtitle> Chart subtitle</mat-card-subtitle>
</mat-card-header>
 <div class="crop-image">
     <img  [src]=""alt="">
 </div>
 <mat-card-content>
  <!-- RENDER DEL GRAFICO -->
    <div class="card__container">
  <div class="svg__chart__container">
    <svg #chart ></svg>
  </div>
    </div>
 </mat-card-content>
 <mat-card-actions>
 <a mat-button color="basic" [routerLink]=""> ver detalle</a>
 <button  mat-raised-button color="basic" type="button">Cambiar Datos</button>
  </mat-card-actions>
</mat-card>