
    /* 13. Basic Styling with CSS */
    ::ng-deep .extrusor__c3-line1 {
      fill: none;
      stroke: #5D7DB8;
      stroke-width: 3;
  }
  
  ::ng-deep .extrusor__c3-line2 {
      fill: none;
      stroke: #7D5FA0;
      stroke-width: 3;
  }
  ::ng-deep .extrusor__c3-line3 {
      fill: none;
      stroke: #98B855;
      stroke-width: 3;
  }