.layout__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  color: #f0f0f0;
  background-color: #373A39;
  margin: 0 auto;
}
.header__nav_logo{
display: flex;
  max-height: 100px;
  width: 90%;
  margin: 2% ;
  float: left;
  img {
    height: 40px;
    width: 100%;
    object-position: left;
    margin-top: 5px;
  }
}
.header__menu{
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: center;
  width: 10%;
}

@media (min-width: 768px) {
  .layout__header{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 2em;
  // margin: 10px;
  }
.header__nav_logo{
display: flex;
width: 95%;
  max-height: 100%;
  margin:  auto 0;
  img {
    margin: 5% 10%;
    height: 50px;
    width: 100%;
  }
}
.header__menu{
  width: 5%;
    margin: auto 10%;
   app-menu-icon{
    float: right;
   }
  }
}