.layout__header{
max-width: 100%;
justify-content: center;
color: #f0f0f0;
background-color: #393E4A;
margin: 0 auto;
}
.header__nav  {
 display: flex;
//  justify-content: space-between;
border-radius: 5px;
width: 100%;
margin: 0.5rem;}

.header__nav__links{
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: right;
}
.header__nav_logo{
display: flex;
  max-height: 75px;
  width: 90%;
  margin-bottom: 1%;
  float: left;
  img {
    object-fit:contain ;
    height: 100%;
    width: 100%;
    object-position: left;
  }
}
.header__app-name {
  display: flex;
  align-items: center;
  justify-content: right;
  h1{
    float: right;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .header__nav{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  // margin: 10px;
  }
  .header__nav__links{
    width: 50%;
    margin: auto;
  }

.header__nav_logo{
display: flex;
  max-height: 80px;
    margin: 10px auto;
  width: 90%;
  img {
    object-fit:contain ;
    height: 100%;
    width: 100%;
    object-position: left;
  }
}
}