mat-card-header{
    justify-content: center;
    }
    .card__container{
    display: flex;
    justify-content: center;
    align-content: center;
     margin: auto;
     padding: 2%;
     width:90%;
     height: 40vh;
    //  height: 100%; reduce el espacio de card
     border: 1px solid #ccc;
    }
    .svg__chart__container{
      display: flex;
       align-items: center;
      width: 100%;
      height: 100%;
    margin: 0 3%;
    justify-content: center;
    
    }
    
     svg{
        width: 100%;
        height: 100%;
        margin:20% 10%;
      }
    /* 13. Basic Styling with CSS */
    ::ng-deep .line {
      fill: none;
      stroke: #5D7DB8;
      stroke-width: 3;
  }
  
  ::ng-deep .line2 {
      fill: none;
      stroke: #A64C49;
      stroke-width: 3;
  }
  ::ng-deep .line3 {
      fill: none;
      stroke: #98B855;
      stroke-width: 3;
  }
    /* Style the lines by removing the fill and applying a stroke */
    
    @media (min-width: 768px) {
     .card__container{
      width:80%;
      height:100%;
      margin: auto;
      padding: 0;
     }
     .svg__chart__container{
       width: 80%;
       height: 100%;
       margin: 0 auto;
     }
      svg{
       max-width: 100%;
       object-fit: contain;
       height: 50vh;
       margin:10%;
     }
    }
    
    