
/* Style the lines by removing the fill and applying a stroke */
::ng-deep .winder__c2-line1 {
    fill: none;
    stroke: #5D7DB8;
    stroke-width: 3;
}

::ng-deep .winder__c2-line2 {
    fill: none;
    stroke: #A64C49;
    stroke-width: 3;
}
/* Style the dots by assigning a fill and stroke */

@media (min-width: 768px) {

}