.nav__container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: #E4E4E4;
    height: 5vh;
    color: #272a3a;
    font-size: 2rem;
    font-weight: 500;

    .nav__div1{
    grid-column: 1/2;
    a{
        background-color: transparent;
        .back__icon{
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: none;
            margin: 5%;
            color:#272a3a
        }
        .back__icon:active{
            background: linear-gradient(to right, #EAEAEA, #CCCC);
        }
    }
    }
    .nav__div2{
        grid-column: 2/9;
        }
   }

   @media (min-width: 768px) {
    .back__icon:hover{
        background:#545858;
        cursor: pointer;
    }

    .nav__container{
        div{
            width: 33%;
        }
    }
   }

