.nav__container{
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #E4E4E4;
    align-content: space-between;
    height: 5vh;
    color: #545858;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;

    .nav__div1{
    width: 25px;

    }
    .nav__div2{
        width: 90%;
        height: 100%;
        }

    a{
        background-color: transparent;
    }


    .back__icon{
        display: flex;
        border-radius: 50%;
        border: none;
        margin: 3px 2px;
        justify-self: left;
    }
    .back__icon:active{
        background: linear-gradient(to right, #EAEAEA, #CCCC);
    }
   }


   @media (min-width: 768px) {
    .back__icon:hover{
        background:#545858;
        cursor: pointer;
    }

    .nav__container{
        div{
            width: 33%;
        }
    }
   }

