
.line__content{
 height: 90%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 border: 1px solid black;
}

.line__features{
 display: flex;
 flex-direction: column;
 padding: 0;
 height: 90vh;
 width: 50%;
 margin: 3vh 5% 5vh 5%;
 border-radius: 5px;


button{
  height: 30%;
  background-image:linear-gradient(#bbbb, #eeee);
  margin: 5px 0;

  // border: 1px solid #ccc;

}
span{
 font-size:2.5rem;
 text-align: center;

}
button:focus{
 background-image: linear-gradient(white,#eee);
  font-weight: 600;
  border: 1px solid #cccc;
 span{
 font-size: 3rem;
 }
}
}

.chart__container2{
  width: 200px;
  margin: 0 5px;
  height: 90vh;
}

@media (min-width: 768px) {
  .line__content{
    width: 60%;
    margin: 5% auto;
    
  }
.line__features{
 display: flex;
 flex-direction: column;
 padding: 0;
button{
  height: 25vh;
  width: 100%;
}
}
}
