//colors
$primary-color: #272A3A;
$secondary-color:white;
$tertiary-color:#dcdcdc82;
$background-color:linear-gradient(to right, #EAEAEA, #ccc);
$background-color2:linear-gradient(to right, #cccc, #ffff);
$button-background-color:linear-gradient(#bbbb, #eeee);