// .white__icon{
//   color: #B9BEBF;
//   float: right;
//   margin:25% ;
//   border-radius: 50%;
//   border: 1.5px solid #B9BEBF;
//   padding: 5px;
// }
// .active{
// border-bottom: #B9BEBF;}

// @media (min-width: 768px) {
//   .white__icon{
//    align-self: right;
//   margin: 5% auto;}
// }

// MENU CON WEBCOMPONENT
dile-menu-hamburger{
  h1{
    margin: 5px auto;
    font-size: 2.5rem;
  }
  
  height: 35px;
  width: 35px;
  margin: 10px auto;
  text-align: center;
  --dile-hamburger-color:white;
  --dile-hamburger-active-color:white;
  --dile-hamburger-width: 22px;
  --dile-hamburger-padding-y:3px;
  --dile-hamburger-padding-x:6.5px;
  --dile-app-drawer-background-color:#373A39E6;

  a{
    text-decoration: none;
     color: white;;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    span{
      margin: 35px auto;
    }
  }
  .active{
    border-bottom: solid 1px #B9BEBF;}
   
}
.back__icon{
  font-size: 2rem;
  color: #B9BEBF;
  text-align:center;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
dile-menu-hamburger{
  --dile-hamburger-padding-y:4px;
  --dile-hamburger-padding-x:6px;
}

}