<!-- <dile-menu-hamburger
 direction="top"
hamburgerAlwaysVisible
[opened]="menuOpened"
(dile-menu-hamburger-opened)="menuOpenedHandler()"
(dile-menu-hamburger-closed)="menuClosedHandler()"
>
  <nav slot="menu" >
    <h1>Charts Menu</h1><hr>
    <a mat-menu-item  routerLinkActive="active" (click)="newTitle('extrusor')">  Extrusor</a>
    <a mat-menu-item  routerLinkActive="active" (click)="newTitle('die')" >Die</a>
    <a mat-menu-item  routerLinkActive="active"(click)="newTitle('winder')" >Winder</a>

  </nav>
</dile-menu-hamburger> -->
