<!-- <dile-menu-hamburger
 direction="top"
hamburgerAlwaysVisible
[opened]="menuOpened"
(dile-menu-hamburger-opened)="menuOpenedHandler()"
(dile-menu-hamburger-closed)="menuClosedHandler()"
>
  <nav slot="menu" >
    <h1>Charts Menu</h1><hr>
    <a mat-menu-item  routerLinkActive="active" (click)="newTitle('extrusor')">  Extrusor</a>
    <a mat-menu-item  routerLinkActive="active" (click)="newTitle('die')" >Die</a>
    <a mat-menu-item  routerLinkActive="active"(click)="newTitle('winder')" >Winder</a>

  </nav>
</dile-menu-hamburger> -->
<!-- <mat-sidenav-container>
  <mat-sidenav mode="side"[(opened)]="opened">menu</mat-sidenav>
  <mat-sidenav-content> Main
    <button (click)="opened!=opened">open</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>    </button>
  </div>

</mat-drawer-container> -->
