<!-- <button class="menu__icon" mat-button [matMenuTriggerFor]="menu">
  <mat-icon class="white__icon" >menu</mat-icon>
</button>
<mat-menu #menu="matMenu">

  <div class="menu">
    <a mat-menu-item routerLink="/home/reports" routerLinkActive="active">Back </a>
    <a mat-menu-item routerLink="/boquilla" routerLinkActive="active">Boquilla</a>
    <a mat-menu-item routerLink="/winder" routerLinkActive="active">Winder</a>
    <a mat-menu-item routerLink="/extrusor" routerLinkActive="active">Extrusor</a
    >
  </div>
</mat-menu> -->

<dile-menu-hamburger direction="top">
  <nav slot="menu">
    <h1>Charts Menu</h1><hr>
    <a mat-menu-item routerLink="/boquilla" routerLinkActive="active" >Die</a>
    <a mat-menu-item routerLink="/winder" routerLinkActive="active">Winder</a>
    <a mat-menu-item routerLink="/extrusor" routerLinkActive="active">Extrusor</a>
  </nav>
</dile-menu-hamburger>