.white__icon{
  color: white;
  float: right;
  margin:25% ;
}
.active{
  background-color: #cccc;
}

@media (min-width: 768px) {
  .white__icon{
   box-sizing: border-box;
   align-self: right;
  margin: 5% auto;}
}