
<div class="container2">
  <div class=" line__container">
  
    <div class="line__features">
      <button mat-button (click)="updateYield(actualYield,totalYield)"><span> 30% </span><br>Yield</button>
      <button mat-button (click)="updateUptime(productionTime,totalUptime)" ><span>100%</span><br> Uptime</button>
      <button mat-button (click)="updateCapacity(ouputWinder,normalOutput)" ><span>68%</span><br>Capacity</button>
    </div>
  
    <div class="line__chart" >
      <canvas id="chart1"></canvas>
    </div>
  
  </div>
</div>



