/* Style the lines by removing the fill and applying a stroke */
::ng-deep .die__c1-line1 {
  fill: none;
  stroke: #5D7DB8;
  stroke-width: 3;
}

::ng-deep .die__c1-line2 {
  fill: none;
  stroke: #A64C49;
  stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
::ng-deep .die__c1-dot {
  fill: #A64C49;
  stroke: #A64C49;
  stroke-width: .5;
}
.print__chart{
  width: 900px;
    min-height: 500px;
    margin:5% 5% 10% 10%;
}
@media (min-width: 768px) {
  
}