// mat-card{
//     width: 80%;
//     margin:0px auto;
//   }
// mat-card-header{
// justify-content: center;
// }
// .card__container{
//   display: flex;
//   justify-content: center;
//   align-content: center;
//  margin: auto;
//  padding: 2%;
//  width:90%;
//  height: 40vh;
// //  height: 100%; reduce el espacio de card
//  border: 1px solid #ccc;
// }

// .svg__chart__container{
//   display: flex;
//    align-items: center;
//   width: 80%;
//   height: 100%;
//   margin: 0 5%;
//   justify-content: center;

// }
/* Style the lines by removing the fill and applying a stroke */
::ng-deep .winder__c3-line1 {
    fill: none;
    stroke: #5D7DB8;
    stroke-width: 3;
}

::ng-deep .winder__c3-line2 {
    fill: none;
    stroke: #A64C49;
    stroke-width: 3;
}
::ng-deep .winder__c3-line3 {
    fill: none;
    stroke: green;
    stroke-width: 3;
}
::ng-deep .winder__c3-line4 {
    fill: none;
    stroke: purple;
    stroke-width: 3;
}
::ng-deep .winder__c3-line5 {
    fill: none;
    stroke: #DC9047;
    stroke-width: 3;

}::ng-deep .winder__c3-line6 {
    fill: none;
    stroke: #C8A4A2;
    stroke-width: 3;

}::ng-deep .winder__c3-line7 {
    fill: none;
    stroke: #534470;
    stroke-width: 3;

}::ng-deep .winder__c3-line8 {
    fill: none;
    stroke: #84974B;
    stroke-width: 3;
}
::ng-deep .winder__c3-line8 {
    fill: none;
    stroke: #B6773A;
    stroke-width: 3;
}
::ng-deep .winder__c3-line8 {
    fill: none;
    stroke: #893F3D;
    stroke-width: 3;
}
::ng-deep .winder__c3-line9 {
    fill: none;
    stroke: #cccc;
    stroke-width: 3;
}
::ng-deep .winder__c3-line10 {
    fill: none;
    stroke: #659AB2;
    stroke-width: 3;
}


/* Style the dots by assigning a fill and stroke */

@media (min-width: 768px) {

}