mat-card-header{
justify-content: center;
}
.card__container{
  display: flex;
  justify-content: center;
  align-content: center;
 margin: auto;
 padding: 2%;
 width:90%;
 height: 40vh;
//  height: 100%; reduce el espacio de card
 border: 1px solid #ccc;
}

.svg__chart__container{
  display: flex;
   align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 5%;
  justify-content: center;

}
/* Style the lines by removing the fill and applying a stroke */
::ng-deep .line {
    fill: none;
    stroke: #5D7DB8;
    stroke-width: 3;
}

::ng-deep .line2 {
    fill: none;
    stroke: #A64C49;
    stroke-width: 3;
}
::ng-deep .line3 {
    fill: none;
    stroke: green;
    stroke-width: 3;
}
::ng-deep .line4 {
    fill: none;
    stroke: purple;
    stroke-width: 3;
}
::ng-deep .line5 {
    fill: none;
    stroke: #DC9047;
    stroke-width: 3;

}::ng-deep .line6 {
    fill: none;
    stroke: #C8A4A2;
    stroke-width: 3;

}::ng-deep .line7 {
    fill: none;
    stroke: #534470;
    stroke-width: 3;

}::ng-deep .line8 {
    fill: none;
    stroke: #84974B;
    stroke-width: 3;
}
::ng-deep .line8 {
    fill: none;
    stroke: #B6773A;
    stroke-width: 3;
}
::ng-deep .line8 {
    fill: none;
    stroke: #893F3D;
    stroke-width: 3;
}
::ng-deep .line9 {
    fill: none;
    stroke: #cccc;
    stroke-width: 3;
}
::ng-deep .line10 {
    fill: none;
    stroke: #659AB2;
    stroke-width: 3;
}

::ng-deep .overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
::ng-deep .dot {
    fill: #5D7DB8;
    stroke: #5D7DB8;//#fff;
    stroke-width: 5;
}

::ng-deep text{
  font-size: 10px;
  padding: auto 20%;
}
@media (min-width: 768px) {
 .card__container{
  width:80%;
  height:100%;
  margin: auto;
  padding: 0;
 }
 .svg__chart__container{
   width: 80%;
   height: 100%;
 }

 svg{
   max-width: 100%;
   object-fit: contain;
   margin:5%;
   height:50vh;
 }
 ::ng-deep .line {
    fill: none;
    stroke: #5D7DB8;
    stroke-width: 1;
}
 ::ng-deep .dot {
    fill: #5D7DB8;
    stroke: #5D7DB8;//#fff;
    stroke-width: 0.1;
}
}