
/* Style the lines by removing the fill and applying a stroke */
::ng-deep .winder__c4-line1 {
    fill: none;
    stroke: #753634;
    stroke-width: 3;
}
::ng-deep .winder__c4-line2 {
    fill: none;
    stroke: #534470;
    stroke-width: 3;
}
::ng-deep .winder__c4-line3 {
    fill: none;
    stroke:#9E6733 ;
    stroke-width: 3;
}
::ng-deep .winder__c4-line4 {
    fill: none;
    stroke: #84974B;
    stroke-width: 3;
}

@media (min-width: 768px) {

}