  ul {
    box-sizing: border-box;
    height: 90%;
    width: 80%;
    margin: 5% auto;
    list-style: none;
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #373a39;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid #cccc;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 120px;
    p {
      align-content: center;
      margin: 0;
    }
    img {
      height: 80px;
      width: 80px;
      margin: 5px;
      border-radius: 10px;
    }
  }

@media (min-width: 768px) {
  .reports__container{
    width: 60%;
    margin: 10px auto;
  }
  ul{
    a{
      margin: 5% 0px;
    }
  }
}

