.container__reports{
  background-image: url('https://d39dczdz8fv6rw.cloudfront.net/cache-buster-1592204952/test-images/image-thumb__8__hero-img-full-height/img-msb.webp') ; 
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;
}
.ul__container{
width: 20%;
margin: 5% auto;
display:flex;
flex-direction: column;
align-items: center;
justify-items: center;


ul{
list-style: none;
padding:0;

}
a{
text-decoration: none;
color: #373A39;
font-size: 2.5rem;
font-weight: 500;
border-bottom: 1px solid #cccc;
text-align: center;
}

}