<!-- <div class="container"> -->
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>    </button>
  </div>

</mat-drawer-container> -->
<!-- </div>
<app-nav-bar></app-nav-bar>-->
<!-- <div class="footer"> </div> -->


<app-header></app-header>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav  #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>
