/*
   CONVENCIONES
1. posicionamiento
2. modelo de caja
3. tipografia
4. visuales
5. otros
*/

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$charts2-primary: mat-palette($mat-indigo);
$charts2-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$charts2-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$charts2-theme: mat-light-theme($charts2-primary, $charts2-accent, $charts2-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($charts2-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 62.5%;  ;
  color: #272A3A;
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(to right, #EAEAEA, #ccc);
  }
// Global styles for charts

.reports__container {
  background-image: url("https://d39dczdz8fv6rw.cloudfront.net/cache-buster-1592204952/test-images/image-thumb__8__hero-img-full-height/img-msb.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.mat-typography{
   h1{
   margin: 10px auto;
   text-align: center;
   font-weight: bold;
  }
}

.charts__container{
  display: grid;
  grid-template-columns:repeat(1,1fr) ;
   width: 90%;
   height: 90%;
   margin:auto 5%;
 }

 mat-card{
   margin: 5px auto;
 }
 mat-card-header{
 justify-content: center;
 }

 mat-card-content{
   display: flex;
   flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:10px auto;
.chart__container{
  height: 70%;
}
.mat__card-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  margin: 10px auto;
  button{
    width:auto;
    height: auto;
    font-size: 1.2rem;
    padding: 1px 5px;
    margin: auto 10px;
  }

}
  }
.mat-bco{
    background-color: #dcdcdc82;
    color: #ffff;
  }
  .mat-bco-activated{
    background-color: #272A3A;
    color: #ffff;
  }
 .chart__container{
  display: flex;
  justify-content: center;
  align-content: center;
  width:98%;
  height: 50vh;
  margin: auto ;
  position: relative;
  border: 1px solid #ccc;
 }

//Global styles for pages

 /* Style the dots by assigning a fill and stroke */

 @media (min-width: 768px) {
  .container{
  width: 90%;
  margin: auto;
  }
  .charts__container{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    width: 90%;
    margin: 1% 5%;
    grid-gap: 5px;
    padding: 5px;
  }

  mat-card{
    display: flex;
    padding: 0;
    width: 90%;
    max-width: 500px;
    margin: 10px auto;
    }
    .chart__container{
      width:100%;
      height: 50vh;
     }
  }


