mat-card-header{
justify-content: center;
}
.card__container{
 display: flex;
justify-content: center;
 margin: 5px auto;
 width:90%;
 height: 50vh;
 border: 1px solid #cccc;
}
::ng-deep svg{
  width: 100%;
  margin-bottom: 10%;
  max-height: 100%;
}
@media (min-width: 768px) {
 .card__container{
  width:80%;
  margin: 0 auto;
  height: 70vh;
  align-content: center;
  padding: 0 auto;

  ::ng-deep svg{
 width: 80%;
 height: 90%;
 margin: 5% auto;
}
  #bar{
    width: 100%;
    margin:0 auto;
  }
 }


}