.nav__container{
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #E4E4E4;
    align-content: space-between;
    height: 5vh;
    color: #545858;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;

    div{
        display: flex;
        height: 100%;
        align-items: center;
    }
    a{
        background-color: transparent;
    }
    p{
     margin: 0 auto;
    }
    .back__icon{
        border-radius: 50%;
        border: 0.5px solid #5458580D;
        margin: 0 2px;
    }
    .back__icon:active{
        background-color: #545858;
        color: #E4E4E4;
    }
   }

  
   @media (min-width: 768px) {
    .back__icon:hover{
        background-color: #545858;
        color: #E4E4E4;
    }
   }

  